<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @RenderSection("head", false)
</head>
<body>
    <nav>
        <a href="/Hero/Index">List Heroes</a>
        <a href="/Hero/Create">New Hero</a>
    </nav>
    @RenderBody()
    
</body>
</html>
