<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">

    <script src="https://kit.fontawesome.com/28c90bc28e.js" crossorigin="anonymous"></script>
    @RenderSection("head", false)
</head>
<body>
    @Html.Partial("Navbar")

    <section>
        @RenderBody()
    </section>
    
</body>
</html>
