<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/style.css" />
    <meta name="viewport" content="width=device-width" />
    @RenderSection("head", false)
</head>
<body>
    @Html.Partial("Navbar")

    <section>
        @RenderBody()
    </section>
    
</body>
</html>
