/*Body font-style, element borders, sizes begin*/
* {
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: black;
}

    nav a { 
        background-color: yellow;
        color: black;
        padding: 10px;
        margin: 10px;
        display: inline-block;
        text-decoration: none;
        margin-inline-end: auto;
    }

nav a:hover {
    color: black;
}

section {
    padding: 0px 10px;
}

i {
    margin-right: 10px; 
}
/*Body font-style, element borders, sizes end*/

/*Update and create form elements style begin*/
input[type=text], input[type=number] {
    outline: 0px;
    border: 0px;
    border-bottom: 2px solid black;
    font-size: 1.2em;
}

select {
    font-size: 1.2em;
}

label, input, button, select {
    margin: 10px;
}

input, button, select {
    padding: 10px;
}

label {
    font-weight: bold;
}

form {
    display: flex; 
    flex-direction: column;
}
/*update and create form elements style end*/

/*index style begin*/
table {
    border-collapse:collapse;
    width:100%;
} 

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: black;
    color: yellow
}

tr:nth-child(odd) {
    background-color: #90909020;
}

a {
    text-decoration: none;
    background-color: yellow;
    color: black;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 10px;
    margin: 5px;
}

a:hover {
    background-color: lightblue;
}
/*index style end*/

/*Herocard list view style begin*/
.herocard {
    border: 2px solid black;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 10px;
}

.herocard .heroimage {
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.herocard .heroimage img {
    width: 100%;
    height: auto;
    max-height: 50vh;
    max-width: inherit;
    padding: 0px;
    border-radius: 10px;
} 

.herocard .heroname {
    font-size: 1.5em;
}

.herocard .heropower {
    font-size: 1.5em;
    background-color: yellow;
    padding: 20px;
    border-radius: 30px;
}

.herogrid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px 10px;
}

.progress-bar {
    background-color: yellow;
    color: black;
}

@media screen and (max-width: 800px) {
    .herogrid {
        grid-template-columns: auto auto;
        justify-items: center;
    }

    .herocard {
        width: 90%;
    }
}

@media screen and (max-width: 600px){
    .herogrid {
        grid-template-columns: auto;
        justify-items: center;
    }

    .herocard {
        width: 90vw;
    }
}
/*Herocard list view style end*/
