@using M3_SuperHeroCRUD.Models
@model IEnumerable<SuperHero>

<h1>Superheros</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Power</th>
        <th>IsAlien</th>
        <th>Side</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        @: <tr>
            @:<td>@item.Name</td>
            @:<td>@item.Power</td>
            @:<td>@item.IsAlien</td>
            @:<td>@item.HeroSide</td>
            @:<td>
                @:<a href="/hero/delete?name=@item.Name">Delete</a>
            @:</td>
        @:</tr>
    }
</table>

<a href="/hero/create">Create new hero</a>